/* Color Palette */
:root {
  --background-color: #202124;
  --text-color: #e8eaed;
  --primary-color: #240046;
  --secondary-color: #7b2cbf;
  --accent-color: #e0aaff;
}
/* Typography */
html {
  /* default = 16px */
  /* 75% is 12px */
  font-size: 75%;
}
* {
  box-sizing: border-box;
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  padding: 2vh 10vw 2vh 10vw;
}
/* Tablet styles */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* Your tablet styles go here */
  .container {
    padding: 10vh 10vw 10vh 10vw;
    margin-left: 100px;
    margin-right: 100px;
  }
}
/* Desktop styles */
@media only screen and (min-width: 1024px) {
  /* Your desktop styles go here */
  .container {
    padding: 10vh 10vw 10vh 10vw;
    margin-left: 350px;
    margin-right: 350px;
  }
}
/* Cards */
.card {
  background-color: var(--background-color);
  width: 100%;
  text-align: center;
  border-radius: 10px;
}
h1 {
  font-size: 3rem;
  text-shadow: 0px 5px 10px rgba(0, 0, 0, 1);
  text-align: center;
  margin-bottom: 50px;
}
/* search section */
.search {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(255, 255, 255, 0.281) 0px 5px 15px;
}
.search input {
  width: 100%;
  outline: none;
  border: none;
  border-radius: 10px 0px 0px 10px;
  padding: 1rem 1.5rem;
  font-size: 2rem;
}
.search i {
  font-size: 2.5rem;
  width: 75px;
  cursor: pointer;
  color: black;
}
/* Tablet styles */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* Your tablet styles go here */
  .weather-icon {
    width: 175px;
    height: auto;
    display: none;
  }
}
/* Desktop styles */
@media only screen and (min-width: 1024px) {
  /* Your desktop styles go here */
  .weather-icon {
    width: 200px;
    height: auto;
    display: none;
  }
}
/* WEATHER */
.weather-icon {
  width: 150px;
  height: auto;
  display: none;
}
/* Tablet styles */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* Your tablet styles go here */
  .weather-icon {
    width: 175px;
    height: auto;
    display: none;
  }
}
/* Desktop styles */
@media only screen and (min-width: 1024px) {
  /* Your desktop styles go here */
  .weather-icon {
    width: 200px;
    height: auto;
    display: none;
  }
}

.temperature {
  color: black;
  font-size: 3rem;
  text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
  margin: 0;
}
.city {
  color: black;
  font-size: 3rem;
  text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
  margin: 0;
  margin-top: 20px;
}
.description {
  color: black;
  font-size: 2rem;
  text-shadow: 0px 5px 10px rgba(16, 8, 8, 0.4);
  margin: 0;
}
